{# Full setup on Linux and MacOS using venv -#}
{% extends "full_install_base.sh.j2" %}

{% block setup_python_env %}
VENV_PATH="$INSTALL_ROOT/camillagui_venv"

echo "Creating venv at $VENV_PATH"
python -m venv "$VENV_PATH"
if [ $? -eq 0 ]; then
    echo "Environment created"
else
    echo "Failed to create environment"
    exit 1
fi

echo "Installing Python libraries"
cd "$INSTALL_ROOT/gui"
"$VENV_PATH/bin/python" -m pip install -r requirements.txt
if [ $? -eq 0 ]; then
    echo "Libraries installed"
else
    echo "Failed to install libraries"
    exit 1
fi

echo ""
echo "Basic setup ready."
echo "Edit the gui config file at:"
echo "$INSTALL_ROOT/gui/config/camillagui.yml"
echo "as required. Then start the gui with:"
echo "> cd \"$INSTALL_ROOT/gui\""
echo "> $VENV_PATH/bin/python main.py"
{% endblock setup_python_env %}
